<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <add name="musicConnectionString" connectionString="Data Source=Dienmoi\MSSQLSERVER01;Initial Catalog=music;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
</connectionStrings>
