
input,
select,
textarea {
    max-width: 280px;
}
* {
    box-sizing: border-box;
    scrollbar-color: hsla(0, 0%, 100%, .3) transparent;
}
body {
    margin: 0;
    padding: 0 20px;
    max-width: 100%;
    overflow-x: hidden;
    background: black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    flex: 0 0 auto;
}

#musicPlayerFooter {
    flex: 0 0 auto;
}

#mainContent {
    height: 100%;
    flex: 1;
    overflow-y: auto;
}

.header {
    background-color: #000000;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;

   .bi-spotify {
                   cursor: pointer;
                   font-size: 35px;
                   color: white;
               }
.search {
    margin-left: 10%;
    display: flex;
    align-items: center;
    .bi-house-door
{
    cursor: pointer;
    font-size: 25px;
    color: white;
    background: #1F1F1F;
    padding:5px 12px 8px 12px;
    border-radius: 50%;
}
}
.input-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

    .input-wrapper input {
        padding-left: 45px;
        height: 50px;
        border-radius: 30px;
        width: 500px;
        max-width: 100%;
        background: #1F1F1F;
        border: none;
        outline: none;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    .input-wrapper input:focus {
        outline: 2px solid white;
    }
        .input-wrapper .icon {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: white;
            font-size: 20px;
        }

.register {
    color: #757575;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    margin-right:10px;
}

.sign-in {
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    background: white;
    border: none;
}
}


.playlist {
    background: #121212;
    height: 100%;
    border-radius:10px;
}

.music-app {
    background: #121212;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    .btn-group1{
                  margin-bottom: 20px;
              }

    .btn-top
    {
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    background: white;
    border: none;
    margin-right: 10px;
    }

.title {
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor:pointer;
    margin-bottom: 20px;
}

.title:hover {
    text-decoration: underline;
}

.music {
    position: relative;
    padding: 10px;
    border-radius: 8px;
    height: 300px;
    cursor: pointer;
    img
{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
.description{
    padding-top: 10px;
}
.inner-desc {
    color: #AAAAAA;
    font-size: 14px;
}


.bi-play-fill {
    position: absolute;
    display: none;
    top: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    right: 10%;
    font-size: 25px;
    color: black;
    padding: 5px 10px;
    background: #3ADF74;
    border-radius: 50%;
}
}
.music:hover {
    background: #1F1F1F;
    .bi-play-fill{
    display: block;
                 }
}




}