
input,
select,
textarea {
    max-width: 280px;
}

* {
    box-sizing: border-box;
    scrollbar-color: hsla(0, 0%, 100%, .3) transparent;
}

body {
    margin: 0;
    padding: 0 20px;
    max-width: 100%;
    overflow-x: hidden;
    background: black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    flex: 0 0 auto;
}

#musicPlayerFooter {
    flex: 0 0 auto;
}





.footer-main {
    padding: 10px;
    color: #939393;
    margin-top: 50px;
    .title-footer

{
    color: white;
    font-size: 18px;
}

.child {
    font-size: 16px;
    margin-top: 5px;
}

    .child:hover {
        cursor: pointer;
        color: white;
        text-decoration: underline;
    }

.icon-group {
    display: flex;
    justify-content: right;
    align-items: center;
}

.social-icon {
    width: 40px;
    height: 40px;
    color: white;
    margin-left: 10px;
    background: #292A2D;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .social-icon:hover {
        background: #4D4D4D;
    }

.bot-footer {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.left {
    margin-left: 15px;
    cursor: pointer;
}

    .left:first-child {
        margin-left: 0;
    }

    .left:hover {
        color: white;
    }

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    .footer-left

{
    display: flex;
    align-items: center;
    height: 60px;
    img

{
    width: auto;
    height: 100%;
    object-fit: cover;
}

.image {
    cursor: pointer;
    height: 100%;
}

.bi-plus-circle {
    cursor: pointer;
    color: #939393;
    margin-left: 15px;
    font-size: 18px;
}

    .bi-plus-circle:hover {
        color: white;
    }

}

.album-art {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.song-info {
    margin-left: 15px;
}

.song-title {
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.artist-name {
    font-size: 12px;
    cursor: pointer;
    color: #939393;
}

    .artist-name:hover {
        text-decoration: underline;
        color: white;
    }

.song-title:hover {
    text-decoration: underline;
}

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    .control-btn

{
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px;
}

.btn-child {
    color: #939393;
}

    .btn-child:hover {
        color: white;
    }

.progress-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: #939393;
    .range-input

{
    width: 80%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 4px;
    background: linear-gradient(to right, white 0%, white var(--val), #4D4D4D var(--val), #4D4D4D 100%);
    border-radius: 5px;
    outline: none;
}

    input[type="range"]:hover {
        background: linear-gradient(to right, #1DB954 0%, #1DB954 var(--val), #4D4D4D var(--val), #4D4D4D 100%);
    }

        input[type="range"]:hover::-webkit-slider-thumb {
            display: block;
        }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: white;
        cursor: pointer;
        display: none;
    }

}
}

.footer-right {
    display: flex;
    align-items: center;
    .bi-repeat

{
    cursor: pointer;
    color: #939393;
    font-size: 18px;
}

.bi-volume-mute {
    cursor: pointer;
    color: #939393;
    font-size: 22px;
}

.volume {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 4px;
    background: linear-gradient(to right, white 0%, white var(--val), #4D4D4D var(--val), #4D4D4D 100%);
    border-radius: 5px;
    outline: none;
}

.range-input {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

input[type="range"]:hover {
    background: linear-gradient(to right, #1DB954 0%, #1DB954 var(--val), #4D4D4D var(--val), #4D4D4D 100%);
}

    input[type="range"]:hover::-webkit-slider-thumb {
        display: block;
    }

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    display: none;
}
}
