@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spotify - Register</title>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <style>
        /* Định nghĩa class .figtree-custom */
        .figtree-custom {
            font-family: "Figtree", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400; /* Trọng số font */
            font-style: normal; /* Kiểu font */
            color: white; /* Màu chữ trắng */
            background-color: black; /* Màu nền đen */
            padding: 20px; /* Khoảng đệm */
            border-radius: 5px; /* Bo góc */
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Link đến Bootstrap Icons từ CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

</head>

<body style="background-color: #121212">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 my-5">
                    <div class="card-body p-0" style="background-color: #121212">
                        <!-- Nested Row within Card Body -->
                        <div class="d-flex justify-content-center">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <i class="bi bi-spotify" style="font-size: 40px; color: white"></i>
                                    </div>
                                    <div class="text-center">
                                        <h1 class="h4 mb-4 figtree-custom" style="background-color: #121212; color: #ffffff; font-size: 40px "><strong>Sign up to start listening</strong></h1>
                                    </div>
                                    @using (Html.BeginForm("Register", "Auth", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <p name="email" style="color: white; font-size: 15px"><strong>Email Address</strong></p>
                                            <input type="text" style="background-color: #121212" class="form-control form-control-user"
                                                   id="Username"
                                                   name="Username"
                                                   placeholder="name@domain.com">
                                        </div>
                                        <div class="form-group">
                                            <p name="Password" style="color: white; font-size: 15px"><strong>Password</strong></p>
                                            <input type="password" style="background-color: #121212" class="form-control form-control-user"
                                                   name="Password"
                                                   id="Password" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <p name="ConfirmPassword" style="color: white; font-size: 15px"><strong>Confirm Password</strong></p>
                                            <input type="password" style="background-color: #121212" class="form-control form-control-user"
                                                   name="ConfirmPassword"
                                                   id="ConfirmPassword" placeholder="Confirm Password">
                                        </div>

                                        <div style="margin-top:30px">
                                            <button type="submit" class="btn btn-user btn-block" style="border-radius: 50px; color: #000000; background-color: #1ED760; border-color: #1ED760 ">
                                                <strong>Sign up</strong>
                                            </button>
                                        </div>

                                    }

                                    <hr>
                                    
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Add this script at the end of the body -->
    <script>
        $(document).ready(function () {
            @if (TempData["ErrorMessage"] != null)
            {
                <text>
                alert('@TempData["ErrorMessage"]');
                </text>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <text>
                alert('@TempData["SuccessMessage"]');
                </text>
            }
        });
    </script>

</body>

</html>
