
@{
    ViewBag.Title = "FooterMain";
}

<div class="footer-main">
    <div class="row">
        <div class="col-md-2" style="font-weight: 500;">
            <div class="title-footer">Công ty</div>
            <div class="child">Giới thiệu</div>
            <div class="child">Việc làm</div>
            <div class="child">For the Record</div>
        </div>
        <div class="col-md-2" style="font-weight: 500;">
            <div class="title-footer">Cộng đồng</div>
            <div class="child">Dành cho các Nghệ sĩ</div>
            <div class="child">Nhà phát triển</div>
            <div class="child">Quảng cáo</div>
            <div class="child">Nhà đầu tư</div>
            <div class="child">Nhà cung cấp</div>
        </div>
        <div class="col-md-2" style="font-weight: 500;">
            <div class="title-footer">Liên kết hữu ích</div>
            <div class="child">Hỗ trợ</div>
            <div class="child">Ứng dụng Di động Miễn phí</div>
        </div>
        <div class="col-md-2" style="font-weight: 500;">
            <div class="title-footer">Các gói của Spotify</div>
            <div class="child">Premium Individual</div>
            <div class="child">Premium Student</div>
            <div class="child">Spotify Free</div>
        </div>
        <div class="col-md-4">
            <div class="icon-group">
                <div class="social-icon"><i class="bi bi-instagram"></i></div>
                <div class="social-icon"><i class="bi bi-twitter"></i></div>
                <div class="social-icon"><i class="bi bi-facebook"></i></div>
            </div>
        </div>
    </div>
    <hr style="margin: 40px 0" />
    <div style="display: flex; align-items: center; justify-content: space-between">
        <div class="bot-footer">
            <div class="left">Pháp lý</div>
            <div class="left">
                Trung tâm an toàn và quyền riêng tư
            </div>
            <div class="left">Chính sách quyền riêng tư</div>
            <div class="left">Cookie</div>
            <div class="left">
                Giới thiệu Quảng cáo
            </div>
            <div class="left">Hỗ trợ tiếp cận</div>
        </div>
        <div>
            <div style="font-size: 14px; font-weight: 500">© 2024 Spotify AB</div>
        </div>
    </div>

</div>