
@{
    ViewBag.Title = "Header";
    bool isLoggedIn = Session["user_id"] != null;
    string role = null;
    string user = null;
    if (Session["role"] != null && Session["login_name"] != null)
    {
        role = Session["role"].ToString();
        user = Session["login_name"].ToString().Split('@')[0];
    }
}

<style>
    .dropdown-container {
        position: relative;
        display: inline-block;
    }

    .dropdown-button {
        display:flex;
        justify-content:center;
        color: white;
        font-weight:bold;
        font-size: 20px;
        cursor: pointer;
        align-items:center
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #121212;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        overflow: hidden;
        z-index: 1000;
    }

        .dropdown-menu a {
            display: block;
            padding: 10px 15px;
            color: white;
            text-decoration: none;
        }

            .dropdown-menu a:hover {
                background-color: grey;
            }
    .header {
        background-color: #000000;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 7vh;
        .bi-spotify

    {
        cursor: pointer;
        font-size: 35px;
        color: white;
    }

    .search {
        margin-left: 10%;
        display: flex;
        align-items: center;
        .bi-house-door

    {
        font-size: 25px;
        color: white;
    }

    .icon-header {
        cursor: pointer;
        background: #1F1F1F;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    }

    .input-wrapper {
        position: relative;
        display: inline-block;
        margin-left: 10px;
        cursor: pointer;
    }

        .input-wrapper input {
            padding-left: 45px;
            height: 50px;
            border-radius: 30px;
            width: 500px;
            max-width: 100%;
            background: #1F1F1F;
            border: none;
            outline: none;
            color: white;
            font-size: 18px;
            font-weight: 500;
        }

            .input-wrapper input:focus {
                outline: 2px solid white;
            }

        .input-wrapper .icon {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: white;
            font-size: 20px;
        }

    .register {
        color: #757575;
        font-size: 18px;
        font-weight: bold;
        border-radius: 30px;
        border: none;
        margin-right: 10px;
    }

    .sign-in {
        color: black;
        font-size: 18px;
        font-weight: bold;
        border-radius: 30px;
        background: white;
        border: none;
    }


    .btnLogout {
        color: black;
        font-size: 18px;
        font-weight: bold;
        border-radius: 30px;
        background: white;
        border: none;
    }
    }
</style>

<div class="header">
    <div onclick="redirectToHomePage()">
        <i class="bi bi-spotify"></i>
    </div>
    <div class="search">
        <div class="icon-header">
            <i class="bi bi-house-door"></i>
        </div>
        <div class="input-wrapper">
            <label for="search-input"><i class="bi bi-search icon"></i></label>
            <input id="search-input" type="text" placeholder="Bạn muốn phát nội dùng gì?" oninput="timesearchSong()" />
        </div>
    </div>
    <div>
        <button type="button" class="btn register @(isLoggedIn ? "d-none" : "")" onclick="location.href='/Auth/Register/'">Đăng ký</button>
        <button type="button" class="btn sign-in @(isLoggedIn ? "d-none" : "")" onclick="location.href='/Auth/Login/'">Đăng nhập</button>
        @if (role != null && user != null)
        {
            <div class="dropdown-container">
                <div class="dropdown-button" style="background-color:#fe8301; border-radius:50%; width:2.5rem; height:2.5rem">@(user[0])</div>
                <div class="dropdown-menu">
                    <a href="/User">Account</a>
                    @if (role == "admin")
                    {
                        <a href="/Admin/Dashboard">Admin</a>
                    }

                    <a href='/Auth/Logout/'>Đăng xuất</a>
                </div>
            </div>

        }
    </div>




    <script>
        function redirectToHomePage() {
            window.location.href = "/";
        }
        document.querySelector('.dropdown-button').addEventListener('click', function () {
            const menu = document.querySelector('.dropdown-menu');
            menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
        });

        document.addEventListener('click', function (e) {
            const button = document.querySelector('.dropdown-button');
            const menu = document.querySelector('.dropdown-menu');

            if (!button.contains(e.target)) {
                menu.style.display = 'none';
            }
        });
    </script>
</div>


