
@{
    ViewBag.Title = "Header";
}

<div class="header">
    <div>
        <i class="bi bi-spotify"></i>
    </div>
    <div class="search">
        <div>
            <i class="bi bi-house-door"></i>
        </div>
        <div class="input-wrapper">
            <label for="search-input"><i class="bi bi-search icon"></i></label>
            <input id="search-input" type="text" placeholder="Bạn muốn phát nội dùng gì?" />
        </div>
    </div>
    <div>
        <button type="button" class="btn register">Đăng ký</button>
        <button type="button" class="btn sign-in">Đăng nhập</button>
    </div>
</div>

