
@{
    ViewBag.Title = "Header";
    bool isLoggedIn = Session["user_id"] != null;
}

<div class="header">
    <div onclick="redirectToHomePage()">
        <i class="bi bi-spotify"></i>
    </div>
    <div class="search">
        <div class="icon-header">
            <i class="bi bi-house-door"></i>
        </div>
        <div class="input-wrapper">
            <label for="search-input"><i class="bi bi-search icon"></i></label>
            <input id="search-input" type="text" placeholder="Bạn muốn phát nội dùng gì?" />
        </div>
    </div>
    <div>
        <button type="button" class="btn register @(isLoggedIn ? "d-none" : "")" onclick="location.href='/Auth/Register/'">Đăng ký</button>
        <button type="button" class="btn sign-in @(isLoggedIn ? "d-none" : "")" onclick="location.href='/Auth/Login/'">Đăng nhập</button>
        <button type="button" class="btn btnLogout @(isLoggedIn ? "" : "d-none")" onclick="location.href='/Auth/Logout/'">Đăng xuất</button>
    </div>




    <script>
    function redirectToHomePage() {
        window.location.href = "/";
    }
    </script>
</div>


