
@{
    ViewBag.Title = "PlaylistView";
}

<div class="playlist">
    <div class="head">
        <div class="head-child"><i class="bi bi-layout-sidebar-reverse"></i>
        <span style="margin-left: 10px; font-size: 18px;font-weight: bold">Thư viện</span></div>
        <div><i class="bi bi-plus-lg"></i></div>
    </div>
    <div class="search">
        <div class="search-child">
            <i class="bi bi-search"></i>
        </div>
        <div class="filter">
           <span style="margin-right: 10px;font-weight: 500">Gần đây</span> <i class="bi bi-list-ul"></i>
        </div>
    </div>
</div>

