
@{
    ViewBag.Title = "Dashboard";
}

  <style>
    body {
      font-family: 'Arial', sans-serif;
    }
    a {
        text-decoration : none ;
    }
    .navbar {
      background-color: #4a4e69;
      color: #fff;
    }

    .navbar-brand {
      font-weight: bold;
    }

    .card-header {
      font-weight: bold;
      font-size: 1.2rem;
      background-color: #9a8c98;
      color: white;
    }

    .content {
      padding: 20px;
    }

    .icon {
      font-size: 2.5rem;
      opacity: 0.8;
    }

    .card:hover {
      cursor : pointer;
      transform: scale(1.03);
      transition: all 0.2s ease-in-out;
    }

    .card-footer {
      font-size: 1.2em;
      display: flex;
      justify-content: space-between;
    }

    .footer-icon {
      font-size: 1.8rem;
      color: #fff;
    }
  </style>

<!-- Main content -->
<div class="container content">
    <!-- Stats Cards -->
    <div class="row">
        <div class="col-md-6">
            <a href="/Admin/User" class="card bg-primary text-white mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-people-fill icon"></i> Total Users</h5>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <span>Số lượng: </span>
                    <h5>1,245</h5> 
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/Admin/Music" class="card bg-success text-white mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-music-note-list icon"></i> Total Songs</h5>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <span>Số lượng: </span>
                    <h5>3,412</h5>
                </div>
            </a>
        </div>
    </div>

